- if @contestant.incomplete_entries?
  - content_for :alert do
    = incomplete_entries_message

#confirm-delete-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        .modal-title
          .two-tone-title.text-center
            %span Delete
            %span Entry
      .modal-body
        .row
          .col-xs-12.text-center
            %i.fa.fa-exclamation-triangle.fa-2x

        .row
          .col-xs-12.text-center
            %span This action will remove
            %span
              %strong.photo-title
            %span from view and competition

        .row
          .col-xs-12
            %button.btn.btn-flat.btn-secondary.pull-left{ type: 'button', 'data-dismiss' => 'modal'} Cancel
            = link_to nil, 'Confirm Delete', id: 'delete-photo-confirmation', class: 'btn btn-flat pull-right', method: :delete

#contestant-activity-wrapper
  .two-tone-title.text-center
    %span Activity Page
    %span= @contestant.first_name

  #entries-wrapper
    .row.text-center
      - if @contestant.entries_left?
        %a.btn.btn-flat{ href: new_photo_path }
          %i.fa.fa-camera.fa-2x
          Begin Submission
    
    - if @contestant.entries.any?
      %h3.text-center YOUR SUBMISSIONS
          
      .table-responsive
        %table#entry-table.table.table-striped.table-hover
          %thead
            %tr
              %td
              %td
              %td.text-center ENTRY
              %td.hidden-xs TITLE
              %td.hidden-xs DATE
              %td ACTIONS REQUIRED
              %td STATUS
              %td.hidden-xs VOTES
              %td.hidden-xs VIEWS
              
          %tbody
            - @contestant.entries.each do |entry|
              %tr{ 'data-id' => entry.id }
                %td
                  = link_to edit_photo_path(entry) do
                    %i.fa.fa-edit.fa-2x
                %td
                  = link_to photo_path(entry.id), method: :delete, class: 'delete-photo-link', 'data-no-turbolink' => true do
                    %i.fa.fa-trash-o.fa-2x
                %td.text-center= photo_link entry
                %td.photo-title.hidden-xs= truncated_title(entry.title)
                %td.hidden-xs= human_date(entry.created_at)
                %td= next_action entry
                %td= entry.registration_status.to_s.capitalize
                %td.hidden-xs= entry.votes
                %td.hidden-xs= entry.views
    - else
      %h3.text-center You haven't submitted any photos yet!

  #favorites-wrapper
    #photo-wall.row
      %h3.text-center YOU'VE VOTED FOR
      %h4.text-center= @votes_left_today == 0 ? 'You are out of votes today. Please come back tomorrow to vote again!' : "You have #{ @votes_left_today } votes remaining today"
      .col-xs-12
        %ul.text-center.list-inline
          - @favourites.each do |photo|
            %li.photo= render 'photos/photo_thumb', photo: photo