#contestant-activity-wrapper
  .two-tone-title.text-center
    %span Activity Page
    %span= current_contestant.first_name

  #entries-wrapper
    .row.text-center
      %a.btn.btn-flat{ href: workflow_photo_entry_path }
        %i.fa.fa-camera.fa-2x
        Begin Submission
    
    - if @contestant.entries.any?
      %h3.text-center YOUR SUBMISSIONS
          
      .table-responsive
        %table#entry-table.table.table-striped.table-hover
          %thead
            %tr
              %td ENTRY
              %td TITLE
              %td DATE
              %td ACTIONS REQUIRED
              %td STATUS
              %td VOTES
              %td VIEWS
              
          %tbody
            - @contestant.entries.each do |entry|
              %tr
                %td.text-center= photo_link entry
                %td= entry.title
                %td= human_date(entry.created_at)
                %td= next_action entry
                %td= entry.registration_status.to_s.capitalize
                %td= entry.votes
                %td= entry.views
    - else
      %h3 You haven't submitted any photos yet!

  #favorites-wrapper
    / - if @favourites.length.zero?
    /   %h3 You haven't voted for any photos
    /   %h5
    /     %span Look for some
    /     = link_to 'here', photos_path
    / - else
    /   %h3.text-center YOUR VOTES
    /   .table-responsive
    /     %table#favourites-table.table.table-striped.table-hover
    /       %thead
    /         %tr
    /           %td ENTRY
    /           %td TITLE
    /           %td TOTAL VOTES
    /           %td VIEWS
    /       %tbody
    /         - @favourites.each do |entry|
    /           %tr
    /             %td= photo_link entry
    /             %td= entry.title
    /             %td= entry.votes
    /             %td= entry.views
    #photo-wall.row
      %h3.text-center YOU'VE VOTED FOR
      .col-xs-12
        %ul.text-center.list-inline
          - @favourites.each do |photo|
            %li.photo= render 'photos/photo_thumb', photo: photo

  .row
    .col-xs-12
      %p= "You have #{ @votes_left_today } votes remaining today"