.form-background
  %h2.text-center= "Welcome #{current_contestant.first_name} (#{current_contestant.email})"
  %h4.text-center On you personalized home page, you will be able to view your favourite photos and track who you've voted for!

  #entries-wrapper
    - if @contestant.entries.any?
      .row
        .col-xs-6
          %h3 YOUR SUBMISSIONS
        .col-xs-6
          %a.btn.btn-default.btn-inverse.pull-right{ href: new_photo_path }
            %i.fa.fa-camera.fa-2x
            Begin Submission
      .table-responsive
        %table#entry-table.table.table-striped.table-hover
          %thead
            %tr
              %td ENTRY
              %td TITLE
              %td DATE
              %td REGISTRATION STATUS
              %td VOTES
              %td VIEWS
              %td ACTIONS REQUIRED
          %tbody
            - @contestant.entries.each do |entry|
              %tr
                %td.text-center= photo_link entry
                %td= entry.title
                %td= human_date(entry.created_at)
                %td= entry.registration_status.to_s.capitalize
                %td= entry.votes
                %td= entry.views
                %td= next_action entry
    - else
      %h3 You haven't submitted any photos yet!

  #favorites-wrapper
    - if @favourites.length.zero?
      %h3 You haven't voted for any photos
      %h5
        %span Look for some
        = link_to 'here', photos_path
    - else
      %h3 Photos You've Voted For
      .table-responsive
        %table#favourites-table.table.table-hover
          %thead
            %tr
              %td ENTRY
              %td TITLE
              %td VOTES
              %td VIEWS
          %tbody
            - @favourites.each do |entry|
              %tr
                %td= photo_link entry
                %td= entry.title
                %td= entry.votes
                %td= entry.views

  .row
    .col-xs-12
      %p= "You have #{ @votes_left_today } votes remaining today"