%h1.text-center Sign Up

= form_for @contestant, :url => signup_path, :html => { :class => 'form-horizontal'} do |f|
  -# Name
  .form-group
    = f.label :first_name, :class => 'control-label col-md-3'
    .col-md-6
      = f.text_field :first_name, :class => 'form-control'

  .form-group
    = f.label :last_name, :class => 'control-label col-md-3'
    .col-md-6
      = f.text_field :last_name, :class => 'form-control'

  -# Email
  .form-group
    = f.label :email, :class => 'control-label col-md-3'
    .col-md-6
      = f.email_field :email, :class => 'form-control'

  .form-group
    = f.label :email_confirmation, :class => 'control-label col-md-3'
    .col-md-6
      = f.email_field :email_confirmation, :class => 'form-control'

  -# Password
  .form-group
    = f.label :password, :class => 'control-label col-md-3'
    .col-md-6
      = f.password_field :password, :class => 'form-control'

  -#.form-group
    -#= f.label :password_confirmation, :class => 'control-label col-md-3'
    -#.col-md-6
      -#= f.password_field :password_confirmation, :class => 'form-control'

  -# Submit/Cancel
  .form-group
    .col-md-offset-3.col-md-1
      = f.submit nil, :class => 'btn btn-primary', :value => "Sign up"

    
  -#<div class="control-group">
    -#<%= f.label :title, :class => 'control-label' %>
    -#<div class="controls">
      -#<%= f.text_field :title, :class => 'text_field' %>
    -#</div>
  -#</div>
  -#<div class="control-group">
    -#<%= f.label :body, :class => 'control-label' %>
    -#<div class="controls">
      -#<%= f.text_area :body, :class => 'text_area' %>
    -#</div>
  -#</div>
-#
  -#<div class="form-actions">
    -#<%= f.submit nil, :class => 'btn btn-primary' %>
    -#<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                -#people_path, :class => 'btn' %>
  -#</div>
-#<% end %>