#signup-wrapper.container
  .row
    .col-xs-12
      .two-tone-title.text-center
        %span Sign
        %span Up

  .row.already-registered
    .col-md-offset-4.col-md-5
      %strong
        %span Already registered?
        = render "devise/shared/links"

  .row
    .col-xs-12.text-center
      = render partial: "layouts/resource_errors", locals: { resource: @contestant }

  .row
    .col-xs-12
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:first_name)}"}
          = f.label :first_name, :class => 'control-label col-md-4'
          .col-md-5
            = f.text_field :first_name, :class => 'form-control'

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:last_name)}"}
          = f.label :last_name, :class => 'control-label col-md-4'
          .col-md-5
            = f.text_field :last_name, :class => 'form-control'

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:public_name)}"}
          = f.label :public_name, 'Username', class: 'control-label col-md-4'
          .col-md-5
            = f.text_field :public_name, class: 'form-control'
          .col-md-offset-4.col-md-5
            %small This name will be public

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:email)}"}
          = f.label :email, :class => 'control-label col-md-4'
          .col-md-5
            = f.email_field :email, :class => 'form-control'

        .form-group
          = f.label :phone, :class => 'control-label col-md-4 optional'
          .col-md-5
            = f.text_field :phone, class: 'form-control'
          .col-md-offset-4.col-md-5
            %small For accepting awards

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:password)}"}
          = f.label :password, :class => 'control-label col-md-4'
          .col-md-5
            = f.password_field :password, class: 'form-control'
          .col-md-offset-4.col-md-5
            %small 8 Letters and numbers

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:password_confirmation)}"}
          = f.label :password_confirmation, 'Confirm Password', :class => 'control-label col-md-4'
          .col-md-5
            = f.password_field :password_confirmation, :class => 'form-control'

        .form-group
          .col-xs-12.recaptcha.text-center
            = recaptcha_tags ajax: true, display: { theme: 'white' }

        %div{class: "form-group #{'error' if @contestant.errors.messages.key?(:terms_of_service)}"}
          = f.label :terms_of_service, class: 'control-label col-xs-6 col-md-offset-2 col-md-6 text-left' do
            %span I accept the
            = link_to 'Terms of Service', terms_path, target: '_blank'
          .col-xs-2.col-md-1
            = f.check_box :terms_of_service, class: 'form-control'

        .form-group
          .col-md-offset-4.col-md-3
            = f.submit nil, :class => 'btn btn-flat btn-block btn-lg', :value => 'Sign up'

  .row
    .col-xs-12.text-center
      .row
        .col-md-offset-2.col-md-7
          %small If you are a minor, have a parent/legal guardian register.
