.container#judges-panel
  .row
    .col-xs-12
      %h3.text-center
        = "#{current_judge.first_name}'s Shortlist"
        - if current_judge.nominations_completed_for?(current_contest)
          %i.fa.fa-check-circle.green
      %h5.text-center
        Click on a Category to get started!

  .row
    - current_contest.categories.each do |category|
      .col-xs-3.text-center
        %h4
          = link_to category.to_s.capitalize, photos_path(category: category), class: 'btn btn-default'
          - if current_judge.nominations_completed_for?(current_contest, category)
            %i.fa.fa-check

        %ul.list-unstyled
          - current_judge.nominees_for(current_contest, category).each do |nominee|
            %li
              = link_to photo_path(nominee.photo) do
                - if nominee.photo.thumbnail_xs_url
                  = image_tag nominee.photo.thumbnail_xs_url
                - else
                  = nominee.photo.title
              - unless current_judge.nominations_completed_for?(current_contest, category)
                = link_to judge_shortlist_remove_url(photo_id: nominee.photo.id, category: nominee.category), method: :post do
                  %i.fa.fa-minus-circle
              .user-name
                %small by #{ nominee.photo.owner.public_name }
