- unless @photo_scores
  %h4 No final scores are complete
- else
  %h4= "#{ @model.judges_completed_scoring.count } of #{ @model.judges.count } Judges reporting"
  - if @model.notify_winners?
    = link_to 'Notify Winners', admin_notify_winners_path, method: :post, class: 'btn btn-flat'
  %table.table.table-hover
    %thead
      %tr
        %th Photo
        %th Photographer
        %th Category
        - @model.judges_completed_scoring.each do |judge|
          %th= "#{ judge.full_name }'s Score"
        %th Total Score
        %th Suggested Prizes
        %th Prize Assignment
    %tbody
      - @photo_scores.each do |photo_score|
        %tr
          %td= image_tag photo_score[:thumbnail_url]
          %td= photo_score[:photographer]
          %td= photo_score[:category]
          - @model.judges_completed_scoring.each do |judge|
            %td= photo_score[:scores].select { |ps| ps[:judge] == judge.full_name }.first[:total_score]
          %td= photo_score[:total_score]
          %td= pp_prize(photo_score[:winner])
          %td
            - if @winners_by_id.include? photo_score[:id]
              - prize = @winners_by_id[photo_score[:id]]
              %h5= pp_prize(prize)
              = link_to 'Cancel', remove_winner_path(prize), method: :delete, class: 'btn btn-xs btn-flat'
            - else
              = render '/winners/winner_picker', photo: photo_score[:id], category: photo_score[:category]
