.container.text-center
  - unless params[:hide_workflow]
    = render './photo_steps', step: :upload
  .two-tone-title.text-center
    %span Photo
    %span Upload

  %h2= @photo.title

  .row.rule-reminder
    .col-xs-12.text-center
      %div
        Make sure photo is at 300dpi and the dimensions are in accordance with the 
        = link_to 'contest\'s rules.', rules_path, target: '_blank'
      %div= image_tag asset_path('form-factor-blue.svg'), height: '100px'

  - if @photo.thumbnail_xs_url?
    %h4 Current image:
    = image_tag @photo.thumbnail_xs_url
    %h5
      %i.fa.fa-warning
      %span Uploading a new photo will replace the current one

  = s3_uploader_form callback_url: photo_entry_path, id: 's3-uploader', class: 'form' do
    .form-group
      .col-xs-12.col-sm-offset-4.col-sm-8
        = file_field_tag :file, multiple: true, class: 'btn btn-flat'

  - if @photo.thumbnail_xs_url?
    = link_to contestant_index_path, class: 'btn btn-flat' do
      %i.fa.fa-undo.fa-2x
      %span Return to My Page

  %script#template-upload{type: 'text/x-tmpl'}
    .upload.text-center{id: 'file-{%= o.unique_id %}'}
      {%=o.name%}
      .progress
        .bar{style: 'width: 0%'}