.container.text-center
  = render './photo_steps', step: :print
  %h2 Print and Verify Your Photo

  .row
    .col-xs-12
      %h4 Discounted printing provided by DOWNTOWN CAMERA!
      %h4 To take advantage of the discount, select use 3 BUSINESS DAY printing and use the COUPON CODE below at checkout.
  
  .row
    .col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %td 
              %strong Photo Size
            %td
              %strong Typical Camera
            %td
              %strong Coupon Code
        %tbody
          %tr
            %td 8x10
            %td point-and-shoot
            %td SCB8x10
          %tr
            %td 8x12
            %td DSLR
            %td SCB8x12

  .row.text-center
    = link_to 'http://downtowncamera.photofinale.com/prints', target: '_blank', class: 'btn btn-flat' do 
      %i.fa.fa-external-link.fa-2x
      %span  Printing Site

  %h3 Enter ORDER NUMBER
  = form_tag verify_photo_entry_path, class: 'form form-horizontal' do 
    - @entries.each do |entry|
      .form-group
        = label_tag entry.id, entry.title, class: 'control-label col-xs-4 col-sm-4'
        .col-xs-6.col-sm-4
          = text_field_tag entry.id, entry.order_number || '', placeholder: 'Order Number', class: 'form-control'
    .form-group
      = button_tag 'Verify Photos', type: 'submit', class: 'btn btn-flat'