#print-verify.container.text-center
  = render 'photo_steps', step: :print
  .two-tone-title.text-center
    %span Order &amp; Verify
    %span Display Print

  .row.text-left
    .col-xs-12
      %ul
        %li
          %h4 You must provide display prints to be eligible for exhibition and awards.
        %li
          %h4 Printing provided by Downtown Camera for $3.99! Select 3 BUSINESS DAY printing and use the COUPON CODE below at checkout.
        %li
          %h4 SCB-TO picks up display prints from Downtown Camera weekly.
        %li
          %h4 After ordering the display print enter your Order Number below.
        %li
          %h4 You may upload up to 5 entries before ordering
  
  .row
    .col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %td 
              %strong Photo Size
            %td
              %strong Typical Camera
            %td
              %strong Coupon Code
        %tbody
          %tr
            %td 8x10
            %td point-and-shoot
            %td SCB8x10
          %tr
            %td 8x12
            %td DSLR
            %td SCB8x12

  .row.text-center
    = link_to new_photo_path, class: 'btn btn-flat' do 
      %i.fa.fa-picture-o.fa-2x
      %span Add Another Entry
    = link_to 'http://downtowncamera.photofinale.com/prints', target: '_blank', class: 'btn btn-flat' do 
      %i.fa.fa-external-link.fa-2x
      %span  Downtown Camera Printing

  %h3 Enter ORDER NUMBER
  = form_tag verify_photo_entry_path, class: 'form form-horizontal' do 
    - @entries.each do |entry|
      .form-group
        = label_tag entry.id, entry.title, class: 'control-label col-xs-4 col-sm-4'
        .col-xs-6.col-sm-4
          = text_field_tag entry.id, entry.order_number, placeholder: 'Order Number', class: 'form-control'
    .form-group
      = button_tag type: 'submit', class: 'btn btn-flat' do
        %i.fa.fa-check-circle.fa-2x
        %span Verify Photos