.container
  %h1.text-center Photo Submission Process

  .row
    .col-xs-12.col-sm-offset-2.col-sm-8
      %ul#workflow.list-unstyled.text-center
        %li
          .btn-flow.btn-group
            = button_tag nil, type: 'button', class: ' btn btn-default' do 
              %i.fa.fa-user.fa-3x
            = button_tag 'Create Account', type: 'button', class: 'btn btn-default'
        %li.active
          .btn-flow.btn-group
            = button_tag nil, type: 'button', class: ' btn btn-default' do 
              %i.fa.fa-picture-o.fa-3x
            = button_tag 'Add Photo Details', type: 'button', class: 'btn btn-default'
        %li
          .btn-flow.btn-group
            = button_tag nil, type: 'button', class: ' btn btn-default' do 
              %i.fa.fa-cloud-upload.fa-3x
            = button_tag 'Upload Photo', type: 'button', class: 'btn btn-default'
        %li
          .btn-flow.btn-group
            = button_tag nil, type: 'button', class: ' btn btn-default' do 
              %i.fa.fa-credit-card.fa-3x
            = button_tag 'Order Display Print', type: 'button', class: 'btn btn-default'
        %li
          .btn-flow.btn-group
            = button_tag nil, type: 'button', class: ' btn btn-default' do 
              %i.fa.fa-thumbs-up.fa-3x
            = button_tag 'Share & Vote', type: 'button', class: 'btn btn-default'
        %li
          %i.fa.fa-angle-down.fa-3x

  .row.text-center
    = link_to 'Continue', new_photo_path, class: 'btn btn-lg btn-flat'