.container
  %h1.text-center Photo Submission Process

  .row
    .col-xs-12.col-sm-offset-3.col-sm-6
      %ul#workflow.list-unstyled.text-center
        %li
          .icon-wrap= image_tag asset_path('Account-icon.svg')
          .text-wrap
            %span Create an account
        %li.active
          .icon-wrap= image_tag asset_path('Photo-icon.svg')
          .text-wrap
            %span
              Add photo details
        %li
          .icon-wrap
            = image_tag asset_path('Upload-icon.svg')
          .text-wrap
            %span
              Upload your photo
        %li
          .icon-wrap
            = image_tag asset_path('print-icon.svg')
          .text-wrap
            %span
              Have them printed
        %li
          .icon-wrap
            = image_tag asset_path('Vote-icon.svg')
          .text-wrap
            %span
              Get friends to vote
        %li
          %i.fa.fa-angle-down.fa-3x

  .row.text-center
    = link_to 'Continue', new_photo_path, class: 'btn btn-lg btn-flat'