.container#photos
  .two-tone-title.text-center
    %span Our
    %span Winners

  .text-center
    %p Contest ran #{long_date current_contest.open_date} to #{long_date current_contest.close_date}

  #winners-photo-wall.row
    .col-xs-12
      %ul.text-center.list-inline
        - @winner_by_award.each_pair do |prize, photo|
          %li.photo
            = link_to photo_path(photo), style: 'text-decoration: none;' do
              = image_tag photo.thumbnail_sm_url, alt: photo.title
                .thumb-title
                  %p= pp_prize(prize)
