%h1.text-center Sign In

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  -# Email
  .form-group
    = label_tag :email, nil, :class => 'control-label col-md-3'
    .col-md-4
      = email_field_tag :email, params[:email], :class => 'form-control'

  -# Password
  .form-group
    = label_tag 'Password', nil, :class => 'control-label col-md-3'
    .col-md-4
      = password_field_tag :password, nil, :class => 'form-control'

  - if devise_mapping.rememberable?
    = f.check_box :remember_me, :class => 'form-control'
    = f.label :remember_me, :class => 'control-label'

  -# Submit/Cancel
  .form-group
    .col-md-offset-3.col-md-1
      = submit_tag nil, :class => 'btn btn-primary btn-block', :value => 'Sign in'

= render "devise/shared/links"