= link_to photo_path(photo), style: 'text-decoration: none;' do
  -# photo or icon
  - if photo.thumbnail_sm_url?
    .img-responsive
      = image_tag photo.thumbnail_sm_url
  - else
    %i#placeholder-thumbnail.fa.fa-picture-o.fa-4x
- if photo.title?
  .thumb-title
    %p= photo.title
.stats
  %span
    %i.fa.fa-thumbs-up
    = photo.votes
  %span
    %i.fa.fa-eye
    = photo.views