= link_to photo_path(photo), style: 'text-decoration: none;' do
  - if photo.thumbnail_sm_url?
    = image_tag photo.thumbnail_sm_url
  - else
    = image_tag 'place-holder-smthumb.jpg'
  .thumb-title
    %p= photo.title
  .stats
    %span
      %i.fa.fa-thumbs-up
      = photo.votes
    %span
      %i.fa.fa-eye
      = photo.views