#photo-filters.row.text-center
  .col-xs-12
    = link_to 'Flora', flora_path, class: "btn btn-default #{ 'active' if @filter == :flora }"
    = link_to 'Fauna', fauna_path, class: "btn btn-default #{ 'active' if @filter == :fauna }"
    = link_to 'Landscape', landscapes_path, class: "btn btn-default #{'active' if @filter == :landscapes }"
    = link_to photos_path(popular: :votes), class: "btn btn-default #{'active' if @filter == :votes }" do 
      Most
      %i.fa.fa-thumbs-up
    = link_to photos_path(popular: :views), class: "btn btn-default #{'active' if @filter == :views }" do 
      Most
      %i.fa.fa-eye
    .select-container
      %i.fa.fa-search
      = hidden_field_tag :tags, params[:tag], id: 'select2-query', class: 'select2'