.container

  .two-tone-title.text-center
    %span Photo
    %span Edit Details

  #submit-errors
    - if @photo.errors.any?
      %ul.errors-list
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  = form_for :photo, url: photo_path(@photo.id), method: :patch, html: {:class => 'form form-horizontal'} do |f|
    = csrf_meta_tags
    = hidden_field_tag :id, @photo.id
    
    .form-group
      = f.label :title, 'Photo Title', class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_field :title, class: 'form-control', value: @photo.title

    .form-group
      = f.label :description, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_field :description, class: 'form-control', value: @photo.description

    .form-group
      = f.label :photo_date, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_field :photo_date, class: 'form-control datepicker', value: @photo.photo_date.strftime('%m/%d/%Y')

    .form-group
      = f.label :photo_location, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_field :photo_location, class: 'form-control', value: @photo.photo_location

    .form-group
      = f.label :camera_stats, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_area :camera_stats, class: 'form-control', rows: 5, value: @photo.camera_stats

    .form-group
      = f.label :category, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.select :category, Photo::CATEGORIES.map { |c| c.capitalize }, { selected: @photo.category.to_s.capitalize }, class: 'form-control'

    .form-group
      = f.label :tags, class: 'control-label col-xs-4 col-sm-3 col-md-3'
      .col-xs-8.col-sm-8.col-md-6
        = f.text_field :tags, class: 'form-control', value: @photo.tags.join(', ')

    .form-group
      .text-center
        = f.submit nil, :class => 'btn btn-flat', :value => 'Submit Details'