%h2.text-center Photo Submission

%h3.text-center Step 1 of 3

#submit-errors
  - if @photo.errors.any?
    %ul.errors-list
      - @photo.errors.full_messages.each do |msg|
        %li= msg

= form_for :photo, url: photos_path, html: {:class => 'form-horizontal'} do |f|
  = csrf_meta_tags
  = hidden_field_tag :id, @photo.id
  = hidden_field_tag :owner, current_contestant.id
  
  .form-group
    = f.label :title, 'Photo Title', class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :description, class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_field :description, class: 'form-control'

  .form-group
    = f.label :photo_date, class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_field :photo_date, class: 'form-control datepicker'

  .form-group
    = f.label :photo_location, class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_field :photo_location, class: 'form-control'

  .form-group
    = f.label :camera_stats, class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_area :camera_stats, class: 'form-control', rows: 5

  .form-group
    = f.label :category, class: 'control-label col-sm-4'
    .col-sm-8
      = f.select :category, Photo::CATEGORIES.map { |c| c.capitalize }, {}, class: 'form-control'

  .form-group
    = f.label :tags, class: 'control-label col-sm-4'
    .col-sm-8
      = f.text_field :tags, class: 'form-control', value: @photo.tags.join(',')

  .form-group
    .col-sm-offset-4.col-sm-2
      = f.submit nil, :class => 'btn btn-primary', :value => 'Proceed to Step 2'