#photo-details-wrapper.container
  = render './photo_steps_tabbed', step: :details

  .row
    .col-xs-12
      .two-tone-title.text-center
        %span Photo
        %span Details

      #submit-errors
        - if @photo.errors.any?
          %ul.errors-list.list.list-unstyled
            - @photo.errors.full_messages.each do |msg|
              %li.error.text-center
                %i.fa.fa-warning
                %span= msg

      = form_for :photo, url: photos_path, html: {:class => 'form-horizontal'} do |f|
        = csrf_meta_tags
        = hidden_field_tag :id, @photo.id
        
        %div{class: "form-group #{'error' if @photo.errors.messages.key?(:title)}"}
          = f.label :title, 'Photo Title', class: 'control-label col-md-3'
          .col-md-6
            = f.text_field :title, class: 'form-control', value: @photo.title

        .form-group
          = f.label :description, class: 'control-label col-md-3'
          .col-md-6
            = f.text_field :description, class: 'form-control', value: @photo.description

        .form-group
          = f.label :photo_date, class: 'control-label col-md-3'
          .col-md-6
            #month-picker.picker
              = hidden_field_tag :photo_date_month, display_photo_month, class: 'picker-hidden-val'
              .btn-group-vertical.btn-group-lg
                = button_tag nil, type: 'button', class: 'btn btn-default picker-dec' do
                  %i.fa.fa-minus
                = button_tag display_photo_month, type: 'button', class: 'btn btn-default picker-val'
                = button_tag nil, type: 'button', class: 'btn btn-default picker-inc' do
                  %i.fa.fa-plus

            #year-picker.picker
              = hidden_field_tag :photo_date_year, display_photo_year, class: 'picker-hidden-val'
              .btn-group-vertical.btn-group-lg
                = button_tag nil, type: 'button', class: 'btn btn-default picker-dec' do
                  %i.fa.fa-minus
                = button_tag display_photo_year, type: 'button', class: 'btn btn-default picker-val'
                = button_tag nil, type: 'button', class: 'btn btn-default picker-inc' do
                  %i.fa.fa-plus

        .form-group
          = f.label :photo_location, class: 'control-label col-md-3'
          .col-md-6
            = f.text_field :photo_location, class: 'form-control', value: @photo.photo_location

        .form-group
          = f.label :camera_stats, class: 'control-label col-md-3'
          .col-md-6
            = f.text_area :camera_stats, class: 'form-control', rows: 5, value: @photo.camera_stats

        .form-group
          = f.label :category, class: 'control-label col-md-3'
          .col-md-6
            = f.select :category, Photo::CATEGORIES.map { |c| c.capitalize }, {}, class: 'form-control'

        .form-group
          = f.label :tags, class: 'control-label col-md-3'
          .col-md-6
            = f.hidden_field :tags, class: 'select2 form-control', value: tags_string(@photo)

        %div{class: "form-group #{'error' if @photo.errors.messages.key?(:terms_of_service)}"}
          = f.label :terms_of_service, 'I accept the Terms of Service', class: 'control-label col-md-offset-3 col-md-4 text-left'
          .col-md-1
            = f.check_box :terms_of_service, class: 'form-control'

        .form-group
          .text-center
            = f.submit nil, :class => 'btn btn-flat', :value => 'Submit Details'