.row.text-center
  %h2.photo-title= display_title "Photo Entry #{params[:id]}"

.row.text-center
  .col-xs-12
    /= link to full image
    %a= image_tag 'http://placekitten.com/g/800/600', alt: "Kitten"


.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Contestant

  .col-xs-9.col-md-6
    %p= display_display_name 'anonymous'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Description

  .col-xs-9.col-md-6
    %p= display_discription 'Cute kitten placeholders on demand!'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Photo Location

  .col-xs-9.col-md-6
    %p= display_location 'Somewhere around Earth'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Photo Date

  .col-xs-9.col-md-6
    %p= display_date 'Before Now'


.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Views

  .col-xs-9.col-md-6
    %p= display_views '0'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Votes

  .col-xs-9.col-md-6
    %p= display_votes '1,102,547'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Likes

  .col-xs-9.col-md-6
    %p= display_likes '1,102,547'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Favourites

  .col-xs-9.col-md-6
    %p= display_favourites '2,145,857'


.row
  .col-xs-12.col-md-offset-4.col-md-2
    %a#vote-btn.btn.btn-block.btn-success.btn-lg
      %i.fa.fa-plus
        Vote

  .col-xs-12.col-md-2
    %a#fave-btn.btn.btn-block.btn-danger.btn-lg
      %i.fa.fa-heart-o
        Favourite

-# comments
.container
  - @photo.comments.each do |comment|
    .row.comment-container
      .col-xs-6
        %div.pull-right
          %h4= comment.name 
          %small= time_ago comment.created_at
      .col-xs-6
        %i.fa.fa-quote-left
        %span= comment.text
        %i.fa.fa-quote-right

  #new-comment-wrapper
    .row
      .col-xs-12.col-sm-offset-5.col-sm-2
        %a#new-comment-btn.btn.btn-block.btn-primary
          %span.fa-stack.fa-lg
            %i.fa.fa-comment-o.fa-stack-2x
            %i.fa.fa-plus.fa-stack-1x
          %span Leave Comment
    .new-comment.row
      - if current_contestant
        %input{type: 'hidden', name: 'contestant_id', value: "#{ current_contestant.id }"}
        %label.control-label.col-xs-4 Comment
        .col-xs-8
          %textarea#comment-text.form-control{rows: 3, cols: 20}
        .row
          .col-xs-6.col-sm-offset-4
            %a#cancel-comment.btn.btn-warning Cancel
            %a#submit-comment.btn.btn-success Submit
      - else
        %span
          %a{href: new_contestant_registration_path }
            Sign up
          %span or
          %a{href: new_contestant_session_path }
            Sign in
          %span to leave a comment