.row.text-center
  .col-xs-12
    /= link to full image
    %a.thumbnail-lg= image_tag 'http://placekitten.com/g/800/600', alt: "Kitten"

-# photo information
.row
  .col-xs-6
    .row
      .col-xs-12
        %h2.photo-title= display_title "Photo Entry #{params[:id]}"
  .col-xs-6
    .row
      .col-xs-12
        %p= photographer_link

.row
  .col-xs-6
    .row
      .col-xs-6
        %strong Description
      .col-xs-6
        %p= display_description ''
    .row
      .col-xs-6
        %strong Tags
      .col-xs-6
        %ul#tags-container.list-inline
          - @photo.tags.each do |tag|
            %li.tag= link_to tag, photos_path(tag: tag)

  .col-xs-6
    .row
      .col-xs-6
        %strong Photo Location
      .col-xs-6
        %p= display_photo_location 'unknown'
    .row
      .col-xs-6
        %strong Photo Date
      .col-xs-6
        %p= display_photo_date 'unknown'
    .row
      .col-xs-6
        %strong Camera details
      .col-xs-6
        %pre= display_camera_stats ''

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %i.fa.fa-eye.fa-2x
    %strong Views

  .col-xs-9.col-md-6
    %p= display_views 0

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %i.fa.fa-thumbs-up.fa-2x
    %strong Votes

  .col-xs-9.col-md-6
    %p= display_votes 0


.row
  .col-xs-12.col-sm-offset-5.col-sm-2
    = form_tag vote_photo_path, class: 'form form-inline' do
      = hidden_field_tag :id, @photo.id
      = button_tag type: 'submit', class: 'vote-btn btn btn-block btn-success btn-lg' do
        %i.fa.fa-plus
        Vote

-# comments
.row
  .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8
    %ul.list-unstyled.comments-container
      - @photo.comments.each do |comment|
        %li.comment
          = "<strong>#{comment.name}</strong> <small>#{time_ago comment.created_at}</small>".html_safe
          %span= comment.text

#new-comment-wrapper
  .row
    - if signed_in?
      = form_for :comment, url: new_comment_path, html: { id: 'leave-comment-form' } do |f|
        = csrf_meta_tags
        = hidden_field_tag :photo_id, @photo.id
        .form-group
          .col-xs-8.col-md-offset-3.col-md-5
            = f.text_area :text, class: "form-control", rows: 3
          .col-xs-4.text-center
            = f.button type: 'submit', class: "btn btn-primary" do 
              %span.fa-stack.fa-lg
                %i.fa.fa-comment-o.fa-stack-2x
                %i.fa.fa-plus.fa-stack-1x
              %span Leave Comment
    - else
      .col-xs-12.text-center
        %span
          %a{href: new_contestant_session_path }
            Sign in
          %span or
          %a{href: new_contestant_registration_path }
            Sign up
          %span to leave a comment