.row.text-center
  .col-xs-12
    /= link to full image
    %a.thumbnail-lg= image_tag 'http://placekitten.com/g/800/600', alt: "Kitten"

-# photo information
.row
  .col-xs-6
    %h2= display_title "Photo Entry #{params[:id]}"
  .col-xs-6
    %strong Photographed by
    %p= @photo.owner.public_name

.row
  .col-xs-6
    .row
      .col-xs-6
        %strong.pull-right Description
      .col-xs-6
        %p= display_discription ''
    .row
      .col-xs-6
        %strong.pull-right Tags
      .col-xs-6
        %ul#tags-container.list-inline
          - @photo.tags.each do |tag|
            %li= link_to tag, photos_path(tag: tag)

  .col-xs-6
    .row
      .col-xs-6
        %strong Contestant
      .col-xs-6
        %p= display_display_name 'anonymous'
    .row
      .col-xs-6
        %strong Photo Location
      .col-xs-6
        %p= display_location 'unknown'
    .row
      .col-xs-6
        %strong Photo Date
      .col-xs-6
        %p= display_date 'unknown'

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Views

  .col-xs-9.col-md-6
    %p= display_views 0

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Votes

  .col-xs-9.col-md-6
    %p= display_votes 0

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Likes

  .col-xs-9.col-md-6
    %p= display_likes 0

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Favourites

  .col-xs-9.col-md-6
    %p= display_favourites 0


.row
  .col-xs-12.col-md-offset-4.col-md-2
    %a#vote-btn.btn.btn-block.btn-success.btn-lg
      %i.fa.fa-plus
      Vote

  .col-xs-12.col-md-2
    %a#fave-btn.btn.btn-block.btn-danger.btn-lg
      %i.fa.fa-heart
      Favourite

-# comments
.container
  - @photo.comments.each do |comment|
    .row.comment-container
      .col-xs-6
        %div.pull-right
          %h4= comment.name 
          %small= time_ago comment.created_at
      .col-xs-6
        %i.fa.fa-quote-left
        %span= comment.text
        %i.fa.fa-quote-right

  #new-comment-wrapper
    .row
      .col-xs-12.col-sm-offset-5.col-sm-2
        %a#new-comment-btn.btn.btn-block.btn-primary
          %span.fa-stack.fa-lg
            %i.fa.fa-comment-o.fa-stack-2x
            %i.fa.fa-plus.fa-stack-1x
          %span Leave Comment
    .new-comment.row
      - if signed_in?
        %input{type: 'hidden', name: 'contestant_id', value: "#{ current_contestant.id }"}
        %label.control-label.col-xs-4 Comment
        .col-xs-8
          %textarea#comment-text.form-control{rows: 3, cols: 20}
        .row
          .col-xs-6.col-sm-offset-4
            %a#cancel-comment.btn.btn-warning Cancel
            %a#submit-comment.btn.btn-success Submit
      - else
        %span
          %a{href: new_contestant_registration_path }
            Sign up
          %span or
          %a{href: new_contestant_session_path }
            Sign in
          %span to leave a comment