#judge-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          &times;
        .two-tone-title.text-center
          %span 
          %span 
      .modal-body

#judges-wrapper.container
  .row
    .col-xs-12
      .two-tone-title.white.text-center
        %span Meet
        %span Our Judges
        
  %ul.list-unstyled.list-inline.judges-gallery.clearfix
    %li.judge
      = image_tag 'judges/daveireland.jpg', alt: 'Dave Ireland', height: '250px'
      %p.judge-name.cursive-font Dave Ireland
      .judge-bio.hidden
        %p
          %strong Managing Director, ROM Biodiversity, Royal Ontario Museum
        %p As Managing Director of ROM Biodiversity, Dave Ireland is responsible for sharing ROM collections and research with diverse audiences. He is guiding ROM Biodiversity toward a unified and focused goal to engage the public about the discovery and conservation of biodiversity.
        %p Dave received his M.Sc. (Ecology) from Trent University and B.Sc. (Biology) from Mount Allison University. He was previously the Curator of Conservation and Environment at the Toronto Zoo, and the Staff Biologist and Curator of Wolves at Haliburton Forest and Wildlife Reserve. Dave is a highly sought after speaker and educator with over 17 years of experience studying, conducting research, teaching, and working in the realm of conservation biology and ecology. In 2013, he managed the North American premier of the 49th Annual Wildlife Photographer of the Year Exhibit, held at the ROM. 
        %p An avid global traveller, Dave has experienced cultures in North and Central America, western Europe, southern Africa and much of south-east Asia. Growing up in Huntsville Ontario, the gateway to Algonquin Park, he spent many years leading canoe trips, sharing his knowledge and passion for the conservation of nature with children, young adults, and international tourists.

    %li.judge
      = image_tag 'judges/maxskwarna.jpg', alt: 'Max Skwarna', height: '250px'
      %p.judge-name.cursive-font Max Skwarna
      .judge-bio.hidden
        %p
          %strong Photographer
        %p For almost 40 years Max has been making his living as a professional photographer. He owns one of the oldest photographic studios in Canada, Ashley and Crippen. Although making his living photographing people he spends much of his free time doing what he loves best, being outside in nature and capturing the beauty that surrounds us. He has been published in Photo Life, Canadian Geographic and many other magazines.  Max has also sold his images through the Cadogan Gallery in Toronto and many homes in and around the GTA show off his beautiful birds on their walls. During this time he has also given presentations to naturalist groups, schools, camera clubs and community colleges. Max is also a member of Ontario Field Ornithologists, Pickering Naturalists, Toronto Entomologists Association, Hamilton Naturalist and other organizations. He has also been a judge for international insect and nature photography competitions many times.
        %p Max currently conducts workshops on macro photography, bird photography, and leads nature photography hikes. If you wish to attend any of these, feel free to e-mail him and you will be put on the list for upcoming events
        %p If you wish to contact Max, you can do so at max@maxskwarna.com
        %p
          You can also see more of his work at 
          %span= link_to 'www.maxskwarna.com', 'www.maxskwarna.com'
        %p
          If you like you may also wish to join his meet-up group at 
          %span= link_to 'http://www.meetup.com/Small-Game-Nature-Photography/', 'http://www.meetup.com/Small-Game-Nature-Photography/'


    %li.judge
      = image_tag 'judges/bridgetstutchbury.jpg', alt: 'Bridget Stutchbury', height: '250px'
      %p.judge-name.cursive-font Bridget Stutchbury
      .judge-bio.hidden
        %p
          %div
            %strong Professor of Biology
          %div
            %strong Canada Research Chair in Ecology and Conservation Biology
        %p Bridget Stutchbury is a professor at York University, Toronto. She completed her M.Sc. at Queen’s University and her Ph.D. at Yale, and was a postdoctoral fellow at the Smithsonian Institution. Since the 1980s, she has followed songbirds to their wintering grounds in Latin America and back to their breeding grounds in North America to understand their behaviour, ecology and conservation. Her latest research uses “geolocators” to track the amazing migratory journeys of Wood Thrushes, Purple Martins and Red-eyed Vireos. She serves on scientific advisory committees for World Wildlife Fund Canada, Wildlife Preservation Canada, and Earth Rangers.  She is also author of Silence of the Songbirds (2007 finalist for the Governor General’s Award) and The Bird Detective (April 2010).