#prize-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          &times;
        .prize-title
      .modal-body

#prizes-wrapper
  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = image_tag asset_path('prizes/olympus.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Grand Prize
          .prize-detail.hidden
            %p
              %strong Item: 
              Olympus OM-D E-M10 Mirrorless Digital Camera
            %p 
              %strong Awarded to: 
              Best overall photo
            %p 
              %strong Description: 
              This super-slim, light-weight system camera offers best in class performance and is light enough to bring along on your next hike. A 16 MP Micro Four Thirds camera packed with sophisticated technologies including a large electronic viewfinder, high performance 3-axis image stabilisation, high-speed auto-focus, as well as built-in flash and WiFi.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/olympus-general.png')

  / .row.category-header
  /   .col-xs-12.text-center
  /     = svg_png_fallback 'flora.svg', height: '60px'
  /     %span Flora

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-right
          = image_tag asset_path('prizes/gallery-exhibit.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Gallery Exhibition
          .prize-detail.hidden
            %p
              %strong Item: 
              Exhibition at Baka Gallery Cafe
            %p 
              %strong Awarded to: 
              Judges picks plus top photos in each category by popular vote
            %p 
              %strong Description: 
              SCB-TO is excited to offer participants the chance to have their photos publicly displayed for one week at the stylish Baka Gallery Cafe. Photos will hang from May 26th to May 30th 2014 and be part of our Silent Auction to raise funds for local conservation projects. 

        %li.prize.tilt-left
          = image_tag asset_path('prizes/lowepro.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Lowepro Backpack
          .prize-detail.hidden
            %p 
              %strong Awarded to: 
              TBA
            %p 
              %strong Description: 
              Easily access your photography gear on your next outing. This Lowepro Slingshot 202 AW camera bag comes with adjustable padded compartments and lots of room for your lenses and camera. The built-in memory card pockets and tripod mount keep everything organized so you can focus on the natural beauty around you. 
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/downtown-camera.png')

        %li.prize.tilt-right
          = image_tag asset_path('prizes/lens-gift.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Lens Credit
          .prize-detail.hidden
            %p 
              %strong Awarded to: 
              TBA
            %p 
              %strong Description: 
              Gift certificate towards the purchase of a camera lens from Downtown Camera (value TBA).
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/downtown-camera.png')

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = image_tag asset_path('prizes/mec-tent.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font MEC Wanderer 2 Tent
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              The perfect tent for your next adventure! The MEC Wanderer 2 features generous floor, head and vestibule room, combined with rugged fabrics and a wind-stable dome shape. Easy to assemble and light enough to carry on backpacking trips.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/mec-crop.png')

        %li.prize.tilt-right
          = image_tag asset_path('prizes/binoculars.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Nikon Binoculars
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              Get a clear view on your next nature walk with these Nikon 10x50 CF binoculars! Featuring 10x magnification and a 6.5 deg actual field of view you'll be able to easily spot distant wildlife. The porro-prism, fog free multi-coated lenses and large 50 mm objective diameter allow for optimal image clarity and brightness.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/downtown-camera.png')

        %li.prize.tilt-left
          = image_tag asset_path('prizes/manfrotto-tripod.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Manfrotto Tripod
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              The Manfrotto MK394 is the perfect tripod for the photographer on the go! Made with sturdy yet lightweight aluminum it can extend to over 50", but collapses to under 21" allowing for easy travel. The integrated photo/video head has a 360°panning range for shooting beautiful panoramas of natural vistas.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/downtown-camera.png')


  / .row.category-header
  /   .col-xs-12.text-center
  /     = svg_png_fallback 'fauna.svg', height: '60px'
  /     %span Fauna

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-right
          = image_tag asset_path('prizes/patagonia-jackets.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Patagonia Jackets
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              Look great and stay dry next time you hit the trail! These Torrentshell jackets are both tough and waterproof, featuring a 2.5-layer H2No® Performance Standard shell, DWR treated zippers and self-stuff handwarmer pockets. We have one men's and one women's available to win.  
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/patagonia.png')

        %li.prize.tilt-left
          = image_tag asset_path('prizes/two-tix-ripleys.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Aquarium Passes
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              Spend the day at Toronto's latest attraction! Learn about the creatures that inhabit the Great Lakes and Canada's surrounding seas with tickets for two to the spectacular Ripley's Aquarium of Canada.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/ripleys-aquarium.png')

        %li.prize.tilt-right
          = image_tag asset_path('prizes/grassroots-gift.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Bambu Cork iPad Case
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              Protect your tech when you get outside with this sleek and eco-friendly case. Made from sustainable cork fabric and lined with unbleached cotton, it not only fits most tablets, but it's naturally wear resistant and easy to clean. 
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/grassroots.png')

  / .row.category-header
  /   .col-xs-12.text-center
  /     = svg_png_fallback 'mountains.svg', height: '50px'
  /     %span Landscape

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = image_tag asset_path('prizes/tfn-membership.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font TFN Membership
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              Explore Toronto's hidden gems and learn more about local plants and animals with the Toronto Field Naturalists. This one year membership provides you with access to over 100 guided hikes per year, monthly Nature Arts outings, a subscription to the Toronto Field Naturalist magazine/newsletter and more.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/torontofieldnaturalists.jpg')

        %li.prize.tilt-right
          = image_tag asset_path('prizes/bloor-cinema.jpg'), alt: 'Prize', height: '250px'
          %p.prize-title.cursive-font Bloor Cinema Passes
          .prize-detail.hidden
            %p 
              %strong Awarded to:
              TBA
            %p 
              %strong Description: 
              A one year membership and two movie passes to Bloor Hot Docs Cinema. Take in some of the world's best documentary films right here in Toronto at this historic, century-old cinema.
            %p 
              %strong Generously donated by:
            = image_tag asset_path('sponsors/bloorhotdocs.jpg')


        / %li.prize.tilt-right
        /   = link_to '#' do 
        /     = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
        /   %p.cursive-font Landscape - 2nd
        / %li.prize.tilt-left
        /   = link_to '#' do 
        /     = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
        /   %p.cursive-font Landscape - 3rd