#prizes-wrapper
  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = link_to '#', class: 'prize-img' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Grand Prize
        %li.prize.tilt-right
          = link_to '#', class: 'prize-img' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Made in Canada

  .row.category-header
    .col-xs-12.text-center
      = svg_png_fallback 'flora.svg', height: '60px'
      %span Flora

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = link_to '#' do
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Flora - 1st Place
        %li.prize.tilt-right
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Flora - 2nd Place
        %li.prize.tilt-left
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Flora - 3rd Place

  .row.category-header
    .col-xs-12.text-center
      = svg_png_fallback 'fauna.svg', height: '60px'
      %span Fauna

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = link_to '#' do
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Fauna - 1st Place
        %li.prize.tilt-right
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Fauna - 2nd Place
        %li.prize.tilt-left
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Fauna - 3rd Place

  .row.category-header
    .col-xs-12.text-center
      = svg_png_fallback 'mountains.svg', height: '50px'
      %span Landscape

  .row
    .col-xs-12
      %ul
        %li.prize.tilt-left
          = link_to '#' do
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Landscape - 1st
        %li.prize.tilt-right
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Landscape - 2nd
        %li.prize.tilt-left
          = link_to '#' do 
            = image_tag 'prize-placeholder.jpg', alt: 'Prize', height: '250px'
          %p.cursive-font Landscape - 3rd