#rules-wrapper.container
  .two-tone-title.text-center
    %span Rules and
    %span Regulations

  .row.rule
    .col-xs-12.col-sm-6
      %h2 Submit up to FIVE of your ORIGINAL photographs
    .col-xs-12.col-sm-6
      = image_tag asset_path('five-photos-blue.svg'), class: 'img-responsive'

  .row.rule
    .col-xs-12.col-sm-6
      %h2 Provide your photographs @ 300dpi in either 8x10 or 8x12 inch formats
    .col-xs-12.col-sm-6
      = image_tag asset_path('form-factor-blue.svg'), class: 'img-responsive'

  .row.rule
    .col-xs-12.col-sm-6
      %h2 For best results, save your photographs in Adobe RGB colour space
    .col-xs-12.col-sm-6
      = image_tag asset_path('no-cmyk.svg'), class: 'img-responsive'

  .row.rule
    .col-xs-12.col-sm-6
      %h2 Images MUST be true to life, only corrections to all pixels are acceptable (e.g. contrast, brightness, etc)
    .col-xs-12.col-sm-6
      = image_tag asset_path('no-shoping3-blue.svg'), class: 'img-responsive'

  .row.rule
    .col-xs-12.col-sm-6
      %h2 
        You MUST have your photographs printed to be eligible for display and awards. Significantly discounted printing provided by our sponsor 
        = link_to 'Downtown Camera', 'https://www.downtowncamera.com', target: '_blank'
    .col-xs-12.col-sm-6
      = image_tag asset_path('no-printer-blue.svg'), class: 'img-responsive'

  .row.rule
    .col-xs-12.col-sm-6
      %h2 By entering our contest, you grant SCB-TO rights to use your submitted photographs for fundraising purposes to support conservation initiatives in the GTA. Thank you!