#photo-steps.row.text-center
  .btn-group
    = button_tag nil, type: 'button', class: 'btn btn-default' + (step == :account ? ' active' : '') do 
      %i.fa.fa-user
      %span Account
    = button_tag nil, type: 'button', class: 'btn btn-default' + (step == :details ? ' active' : '') do 
      %i.fa.fa-picture-o
      %span Details
    = button_tag nil, type: 'button', class: 'btn btn-default' + (step == :upload ? ' active' : '') do 
      %i.fa.fa-cloud-upload
      %span Upload
    = button_tag nil, type: 'button', class: 'btn btn-default' + (step == :print ? ' active' : '') do 
      %i.fa.fa-credit-card
      %span Order
    = button_tag nil, type: 'button', class: 'btn btn-default' + (step == :share ? ' active' : '') do 
      %i.fa.fa-thumbs-up
      %span Share