#photo-steps.row
  %ul#steps.list-unstyled.list-inline
    %li{class: "#{step == :details ? 'active' : ''}"}
      = image_tag asset_path('Photo-icon.svg')
    %li{class: "#{step == :upload ? 'active' : ''}"}
      = image_tag asset_path('Upload-icon.svg')
    %li{class: "#{step == :print ? 'active' : ''}"}
      = image_tag asset_path('print-icon.svg')