%nav#navbar.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  #nav-header-row.row
    .col-xs-12
      .navbar-header
        %button.navbar-toggle{'data-target' => '#navbar-links', 'data-toggle' => 'collapse', :type => 'button'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .scb-logo
          = link_to 'http://scbtoronto.com' do
            = image_tag asset_path('white-logo-text.svg'), alt: 'SCB-TO', class: 'img-responsive'

        %ul#social-media.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
          %li
            %a.btn{ href: 'http://www.conbio.org', target: '_blank' }
              = image_tag asset_path('scb-bird.svg'), alt: 'SCB', height: '28px'
          %li
            %a.btn{ href: 'http://www.scbtoronto.com', target: '_blank' }
              %i.fa.fa-home.fa-2x
          %li
            %a.btn{ href: 'https://twitter.com/SCBToronto', target: '_blank' }
              %i.fa.fa-twitter.fa-2x
          %li
            %a.btn{ href: 'https://www.facebook.com/pages/Toronto-Chapter-Society-for-Conservation-Biology/236337883092881', target: '_blank' }
              %i.fa.fa-facebook.fa-2x

  .row
    .col-xs-12
      #navbar-links.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{:class => "#{'active' if current_page?(root_path)}"}
            = link_to 'HOME', root_path
          %li.dropdown{:class => "#{'active' if current_page?(photos_path)}"}
            = link_to 'PHOTOS', photos_path, {'data-toggle' => 'dropdown', :href => '#', :class => 'dropdown-toggle'}
            %ul.dropdown-menu
              %li= link_to 'ALL', photos_path
              %li= link_to 'FAUNA', fauna_path
              %li= link_to 'FLORA', flora_path
              %li= link_to 'LANDSCAPES', landscapes_path
          %li{class: "#{'active' if current_page?(prizes_path)}"}
            = link_to 'PRIZES', prizes_path
          %li{class: "#{'active' if current_page?(judges_path)}"}
            = link_to 'JUDGES', judges_path
          %li{class: "#{'active' if current_page?(rules_path)}"}
            = link_to 'RULES', rules_path

        %ul.nav.navbar-nav.navbar-right
          - if contestant_signed_in?
            %li{:class => "#{'active' if current_page?(contestant_index_path)}"}
              = link_to "#{current_contestant.first_name.upcase}'S PAGE", contestant_index_path
            %li= link_to 'SIGN OUT', destroy_contestant_session_path, :method => :delete
          - else
            %li{:class => "#{'active' if current_page?(new_contestant_registration_path)}"}
              = link_to 'SIGN UP', new_contestant_registration_path
            %li{:class => "#{'active' if current_page?(new_contestant_session_path)}"}
              = link_to 'SIGN IN', new_contestant_session_path                 
          %li.hidden-xs
            %a#mail-us{href: 'mailto:scbtoronto@gmail.com?subject=Photo Contest Inquiry&body=Ask us your question'}
              %i.fa.fa-envelope