#sponsors-wrapper.container
  .row
    .col-xs-12.text-center
      .two-tone-title
        %span Our amazing 
        %span Sponsors

  .row.text-center
    .col-xs-12.sponsor#primary-sponsor
      = link_to 'http://www.downtowncamera.com/', target: '_blank' do 
        = image_tag asset_path('sponsors/downtown-camera.png'), alt: 'Downtown Camera'

    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://www.patagonia.com/ca/home', target: '_blank' do 
        = image_tag 'sponsors/patagonia.png', alt: 'Patagonia'
    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://www.mec.ca/', target: '_blank' do 
        = image_tag 'sponsors/mec-crop.png', alt: 'Mountain Equipment Co-op'
    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://www.ripleyaquariums.com/canada/', target: '_blank' do 
        = image_tag 'sponsors/ripleys-aquarium.png', alt: "Ripley's Aquarium of Canada"
    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://www.torontofieldnaturalists.org/', target: '_blank' do 
        = image_tag 'sponsors/torontofieldnaturalists.jpg', alt: 'Toronto Field Naturalists'
    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://www.grassrootsstore.com/', target: '_blank' do
        = image_tag 'sponsors/grassroots.png', alt: 'Grassroots'
    .col-xs-12.col-sm-6.col-md-4.sponsor
      = link_to 'http://bloorcinema.com/', target: '_blank' do 
        = image_tag 'sponsors/bloorhotdocs.jpg', alt: 'Bloor Hot Docs Cinema'
