#sponsors-wrapper
  .row
    .col-xs-12.text-center
      %h2.cursive-font.main-title.dark-blue Our amazing sponsors:
  .row.text-center
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"
  .row.text-center
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"
    .col-md-4.sponsor
      = image_tag 'acme-logo.svg', alt: 'Acme', class: "place-logo"