#sponsors-wrapper.container
  - if current_page? root_path
    %article#gratitude
      %header
        %p
          Our
          %br
          Sponsors
  .row
    .col-xs-12.text-center
      - unless current_page? root_path
        %h2.cursive-font.main-title.dark-blue Our amazing sponsors:
  .row.text-center
    .col-sm-6.col-md-4.sponsor
      = link_to 'http://www.downtowncamera.com/', target: '_blank' do 
        = image_tag 'sponsors/downtown-camera.jpg', alt: 'Downtown Camera'
    .col-sm-6.col-md-4.sponsor
      = link_to 'http://www.grassrootsstore.com/', target: '_blank' do
        = image_tag 'sponsors/grassroots.png', alt: 'Grassroots'
    .col-sm-6.col-md-4.sponsor
      = link_to 'http://bloorcinema.com/', target: '_blank' do 
        = image_tag 'sponsors/bloorhotdocs.jpg', alt: 'Bloor Hot Docs Cinema'