!!! 5
%html
  %head
    %title SCB-TO Photo Contest
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %header
      %nav#navbar.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
        #nav-header-row.row
          .col-xs-12
            .navbar-header
              %button.navbar-toggle{'data-target' => '#navbar-links', 'data-toggle' => 'collapse', :type => 'button'}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar

              %a{href: 'http://scbtoronto.com'}
                = image_tag 'SCB_TO_Chap_white_clear_small.png', :alt => 'SCB-TO'

        .row
          .col-xs-12
            #navbar-links.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li{:class => "#{'active' if current_page?(root_path)}"}
                  = link_to 'Home', root_path
                %li.dropdown{:class => "#{'active' if current_page?(photos_path)}"}
                  = link_to 'Photos', photos_path, {'data-toggle' => 'dropdown', :href => '#', :class => 'dropdown-toggle'}
                  %ul.dropdown-menu
                    %li= link_to 'Fauna', fauna_path
                    %li= link_to 'Flora', flora_path
                    %li= link_to 'Landscapes', landscapes_path
                %li{:class => "#{'active' if current_page?(signup_path)}"}
                  = link_to 'Sign Up', signup_path
                %li{:class => "#{'active' if current_page?(signin_path)}"}
                  = link_to 'Sign In', signin_path

    #alerts
      - if flash[:notice]
        .alert.alert-success.alert-dismissable
          %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
            &times;
          = flash[:notice]
      - if flash[:info]
        .alert.alert-info.alert-dismissable
          %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
            &times;
          = flash[:info]
      - if flash[:alert]
        .alert.alert-warning.alert-dismissable
          %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
            &times;
          = flash[:alert]
      - if flash[:danger]
        .alert.alert-danger.alert-dismissable
          %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
            &times;
          = flash[:danger]

    = yield