!!! 5
%html
  %head
    %title SCB-TO Photo Contest
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag
    - if content_for? :metatags
      = yield :metatags

  %body{ class: background_class }
    = render 'layouts/contact_modal'

    %header
      = render 'layouts/navbar'

    = render 'layouts/alerts'

    = yield

    - if display_sponsors?
      #sponsors-footer
        = render 'layouts/sponsors'
    
    = render 'layouts/footer'